.xs-collapse {
	--xs-collapse-border-color: var(--xs-border-color-light);
	--xs-collapse-header-height: 48px;
	--xs-collapse-header-bg-color: var(--xs-fill-color-blank);
	--xs-collapse-header-text-color: var(--xs-text-color-primary);
	--xs-collapse-header-font-size: 13px;
	--xs-collapse-content-bg-color: var(--xs-fill-color-blank);
	--xs-collapse-content-font-size: 13px;
	--xs-collapse-content-text-color: var(--xs-text-color-primary);
	--xs-collapse-disabled-text-color: var(--xs-disabled-text-color);
	--xs-collapse-disabled-border-color: var(--xs-border-color-lighter);
	border-top: 1px solid var(--xs-collapse-border-color);
	border-bottom: 1px solid var(--xs-collapse-border-color);
}
.xs-collapse-item__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--xs-collapse-header-height);
	line-height: var(--xs-collapse-header-height);
	background-color: var(--xs-collapse-header-bg-color);
	color: var(--xs-collapse-header-text-color);
	cursor: pointer;
	font-size: var(--xs-collapse-header-font-size);
	font-weight: 500;
	transition: border-bottom-color var(--xs-transition-duration);
	outline: none;
	border-bottom: 1px solid var(--xs-collapse-border-color);
	&.is-disabled {
		color: var(--xs-collapse-disabled-text-color);
		cursor: not-allowed;
		background-image: none;
	}
	&.is-active {
		border-bottom-color: transparent;
		.header-angle {
			transform: rotate(90deg);
		}
	}
	.header-angle {
		transition: transform var(--xs-transition-duration);
	}
}
.xs-collapse-item__content {
	will-change: height;
	background-color: var(--xs-collapse-content-bg-color);
	overflow: hidden;
	box-sizing: border-box;
	font-size: var(--xs-collapse-content-font-size);
	color: var(--xs-collapse-content-text-color);
	border-bottom: 1px solid var(--xs-collapse-border-color);
	padding-bottom: 25px;
}
.slide-enter-active,
.slide-leave-active {
	transition: height var(--xs-transition-duration);
}
