registry=https://registry.npmmirror.com
#将依赖包提升到项目根目录的 node_modules 中，类似于 npm ,而非pnpm默认的
#shamefully-hoist=true
#禁用严格的对等依赖检查，允许安装即使对等依赖不满足的包
#strict-peer-dependencies=false
#关闭严格的包管理器模式，允许更宽松的依赖解析和安装行为
#package-manager-strict=false
