:root {
  /* colors */
  --xs-color-white: #ffffff;
  --xs-color-black: #000000;
  @each $val, $color in (primary, success, warning, danger, info),
    (#409eff, #67c23a, #e6a23c, #f56c6c, #909399)
  {
    --xs-color-$(val): $(color);
    @for $i from 3 to 9 by 2 {
      --xs-color-$(val)-light-$(i): mix(#fff, $(color), .$(i));
    }
    --xs-color-$(val)-light-8: mix(#fff, $(color), 0.8);
    --xs-color-$(val)-dark-2: mix(#000, $(color), 0);
  }
  /* --xs-color-primary: #409eff;
	--xs-color-primary-light-3: #79bbff;
	--xs-color-primary-light-5: #a0cfff;
	--xs-color-primary-light-7: #c6e2ff;
	--xs-color-primary-light-8: #d9ecff;
	--xs-color-primary-light-9: #ecf5ff;
	--xs-color-primary-dark-2: #337ecc;
	--xs-color-success: #67c23a;
	--xs-color-success-light-3: #95d475;
	--xs-color-success-light-5: #b3e19d;
	--xs-color-success-light-7: #d1edc4;
	--xs-color-success-light-8: #e1f3d8;
	--xs-color-success-light-9: #f0f9eb;
	--xs-color-success-dark-2: #529b2e;
 */
  /* 	--xs-color-warning: #e6a23c;
	--xs-color-warning-light-3: #eebe77;
	--xs-color-warning-light-5: #f3d19e;
	--xs-color-warning-light-7: #f8e3c5;
	--xs-color-warning-light-8: #faecd8;
	--xs-color-warning-light-9: #fdf6ec;
	--xs-color-warning-dark-2: #b88230;
	--xs-color-danger: #f56c6c;
	--xs-color-danger-light-3: #f89898;
	--xs-color-danger-light-5: #fab6b6;
	--xs-color-danger-light-7: #fcd3d3;
	--xs-color-danger-light-8: #fde2e2;
	--xs-color-danger-light-9: #fef0f0;
	--xs-color-danger-dark-2: #c45656;
	--xs-color-info: #909399;
	--xs-color-info-light-3: #b1b3b8;
	--xs-color-info-light-5: #c8c9cc;
	--xs-color-info-light-7: #dedfe0;
	--xs-color-info-light-8: #e9e9eb;
	--xs-color-info-light-9: #f4f4f5;
	--xs-color-info-dark-2: #73767a; */
  --xs-bg-color: #ffffff;
  --xs-bg-color-page: #f2f3f5;
  --xs-bg-color-overlay: #ffffff;
  --xs-text-color-primary: #303133;
  --xs-text-color-regular: #606266;
  --xs-text-color-secondary: #909399;
  --xs-text-color-placeholder: #a8abb2;
  --xs-text-color-disabled: #c0c4cc;
  --xs-border-color: #dcdfe6;
  --xs-border-color-light: #e4e7ed;
  --xs-border-color-lighter: #ebeef5;
  --xs-border-color-extra-light: #f2f6fc;
  --xs-border-color-dark: #d4d7de;
  --xs-border-color-darker: #cdd0d6;
  --xs-fill-color: #f0f2f5;
  --xs-fill-color-light: #f5f7fa;
  --xs-fill-color-lighter: #fafafa;
  --xs-fill-color-extra-light: #fafcff;
  --xs-fill-color-dark: #ebedf0;
  --xs-fill-color-darker: #e6e8eb;
  --xs-fill-color-blank: #ffffff;

  /* border */
  --xs-border-width: 1px;
  --xs-border-style: solid;
  --xs-border-color-hover: var(--xs-text-color-disabled);
  --xs-border: var(--xs-border-width) var(--xs-border-style)
    var(--xs-border-color);
  --xs-border-radius-base: 4px;
  --xs-border-radius-small: 2px;
  --xs-border-radius-round: 20px;
  --xs-border-radius-circle: 100%;

  /*font*/
  --xs-font-size-extra-large: 20px;
  --xs-font-size-large: 18px;
  --xs-font-size-medium: 16px;
  --xs-font-size-base: 14px;
  --xs-font-size-small: 13px;
  --xs-font-size-extra-small: 12px;
  --xs-font-family: "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "\5fae\8f6f\96c5\9ed1", Arial,
    sans-serif;
  --xs-font-weight-primary: 500;

  /*disabled*/
  --xs-disabled-bg-color: var(--xs-fill-color-light);
  --xs-disabled-text-color: var(--xs-text-color-placeholder);
  --xs-disabled-border-color: var(--xs-border-color-light);

  /*animation*/
  --xs-transition-duration: 0.3s;
  --xs-transition-duration-fast: 0.2s;
}
